<div *ngIf="libro" class="detalle">

  <button routerLink="/catalogo" class="volver">
    ⬅ Volver
  </button>

  <div class="contenedor">

    <img *ngIf="libro.imagen" [src]="libro.imagen">
    <img *ngIf="!libro.imagen && libro.isbn"
         src="https://covers.openlibrary.org/b/isbn/{{ libro.isbn }}-L.jpg">

    <div class="info">
      <h1>{{ libro.nombre }}</h1>
      <p class="editorial">{{ libro.marca }}</p>

      <p class="precio">{{ libro.precio | currency }}</p>

      <p><b>ISBN:</b> {{ libro.isbn }}</p>
      <p><b>Categoría:</b> {{ libro.categoria }}</p>
      <p><b>Stock:</b> {{ libro.stock }}</p>

      <p class="desc">{{ libro.descripcion }}</p>

      <button class="comprar" (click)="agregarAlCarrito()">Comprar</button>
    </div>

  </div>
</div>

<!-- Toast notification -->
<div class="toast-container" *ngIf="toastMensaje">
  <div class="toast">{{ toastMensaje }}</div>
</div>