<header class="main-header">
  <div class="logo-container" routerLink="/">
  <img src="logo.jpg" alt="Logo" class="logo-img">
</div>

  <nav class="nav-links">
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
    <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
  </nav>

  <div class="user-actions">
    <button class="cart-btn" routerLink="/carrito">🛒 Carrito ({{ carritoService.totalUnidades() }})</button>
  </div>
</header>