<h2>Catálogo de Ciencia Ficción</h2>

<div class="catalogo-grid">
  <div *ngFor="let libro of libros" class="tarjeta-libro" style="border: 1px solid #ccc; padding: 15px; margin-bottom: 10px;">
    
    <img [src]="libro.imagen" alt="{{ libro.nombre }}" width="150">
    
    <h3>{{ libro.nombre }}</h3>
    <p><strong>Editorial:</strong> {{ libro.marca | uppercase }}</p>
    <p><strong>Precio:</strong> {{ libro.precio | currency }}</p>
    
    <p *ngIf="libro.stock > 0" style="color: green;">Disponibles: {{ libro.stock }}</p>
    <p *ngIf="libro.stock === 0" style="color: red;">Agotado</p>
    
    <button [routerLink]="['/productos', libro.id]">Ver Detalles</button>
    <button>Agregar al Carrito</button>
  </div>
</div>